@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400&family=Oswald&display= swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    box-shadow: none;
    outline: none;
}

body {
    font-family: Lato, sans-serif;
    font-weight: 400;
    color: #070707;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    max-width: 100%;
    overflow-x: hidden;
    background-color: lightyellow;
}


/* heading and logo */

header {
    background-color: lightcyan;
    background-repeat: no-repeat;
    max-width: 100%;
    margin: 0;
    padding: 0;
    border: none;
}

h2 {
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #252525;

}

h1 {
    color: #FF0000;
    font-family: Oswald, sans-serif;
    letter-spacing: 4px;
    text-transform: uppercase;
}

#logo {
    float: left;
    font-size: 250%;
    height: 80px;
    border: none;
}

/* navigation links*/

#menu {
    display: flex;
    justify-content: flex-end;
    font-size: 110%;
    letter-spacing: 3px;
    position: sticky;
    padding: 0;
    list-style-type: none;
    gap: 10px;
    border: none;
}

nav {
    border: none;
    box-shadow: none;
    outline: none;
    margin: 0;
}

#menu,
#logo {
    line-height: 75px;
    border: none;
    margin: 0;
}

#menu li {
    float: none;
    list-style-type: none;
    margin-right: 30px;
    position: sticky;
    border: none;
}

#menu a {
    text-decoration: none;
    color: green;
}

#menu a:hover {
    border-bottom: 1px solid black;
}

.active {
    border-bottom: 1px solid red;
}

/* hero image */

#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
    background-color: lightyellow;

}

#cover-text h2 {
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
}

#cover-text {
    font-family: Oswald, sans-serif;
    font-size: 100%;
    text-transform: uppercase;
    letter-spacing: 3px;
    line-height: 40px;
    color: #252525;

    width: 500px;
    height: 100px;

    padding-bottom: 50px;
    padding-top: 300px;
    padding-right: 60px;
    padding-left: 30px;
    bottom: 0px;
    left: 100px;

    position: absolute;
}

#cover-text h2:hover {
    color: yellow;
}

#hero-image {
    height: 600px;
    width: 100%;
    background: url('../images/hero-image.jpg') no-repeat center center;
    opacity: 0.8;

    /* animates zoom effects on loading page */
    animation-name: hero-zoom;
    animation-duration: 6s;
    animation-fill-mode: forwards;
}

/* creates the level of zoom for hero image */

@keyframes hero-zoom {
    from {
        transform: scale(1);

    }

    to {
        transform: scale(1.1);
    }
}

/* Early Life */

#early {
    height: 600px;
}

.early-container {
    display: flex;
    justify-content: center;
    padding: 5%;

}

#left-early {
    padding-top: 25px;
    flex: 1;
    margin-left: 38px;
}

#right-early {
    padding-top: 25px;
    flex: 1;
    margin-left: 20px;
}

#center-early {
    padding-top: 20px;
    flex: 1;
    display: flex;
    justify-content: center;
}

.custom-hr {
    border: none;
    height: 2px;
    background-color: #ff0000;
    margin: 10px 0;
}

.left-early-heading {
    width: 90%;
    line-height: 30px;
    margin-bottom: 20px;
}

.right-early-heading {
    width: 90%;
    line-height: 30px;
    margin-bottom: 20px;
    text-align: right;
}

#right-early p {
    text-align: right;
}

#right-early h2 {
    text-align: right;
}

/* about center image */

#circle-container {
    width: 350px;
    height: 350px;
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 50%;
    margin: 0 auto;
}

#circle-cover-bg {
    background: url('../images/Flag_of_Ghana.svg.png') no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    border-radius: 50%;
    margin: 0 auto;

}

/* presidency */

#presidency {
    flex: 1;
    padding: 5%;
    margin: 5% 0;
    background-size: cover;
}

#presidency h2 {
    padding-left: 1em;
}


.presidency-heading hr {
    width: 38%;
    margin-left: 1%;
}

#presidency p {
    margin-right: 40px;
    line-height: 25px;
    padding-bottom: 10px;
    margin: 1em;
}

/* footer */

footer {
    background-color: lightcyan;
    padding: 1em;
    text-align: center;
    font-size: 20px;
    color: black;
    margin-top: 0;
    bottom: 0%;
    height: 100%;
}

footer a {
    text-decoration: none;
    color: green;
    margin: 0 10px;
}

footer span {
    margin: 0 5px;
}

footer p {
    margin-top: 10px;
}

footer a:hover {
    text-decoration: underline;
    color: red;
}


/* gallerx */

#photos {
    line-height: 0;
    column-count: 4;
    column-gap: 10px;
    clear: both;
    background-color: #070707;
}

#photos img {
    width: 100%;
    transition: transform 0.5s;
}

#photos img:hover {
    transform: scale(1.1);
}


/* media queries */

/* for screen sizes lager than 1200px wide and down */

@media screen and (max-width: 1200px) {

    header {
        max-width: 100%;
    }

    #logo {
        font-size: 200%;
        margin-left: 15%;
        margin-top: 1em;
        margin-right: 10%;
    }

    #menu {
        font-size: 100%;
    }

    #menu li {
        margin: 2em;
        padding-left: 2%;
        padding-right: 5%;
        height: 4em;
    }

    #hero-outer,
    #hero-image {
        height: 600px;
        width: 100%;
    }

    #cover-text {
        width: 200px;
        padding-top: 100px;
        padding-left: 20px;
        font-size: 60%;
        left: 10%;
    }

    #early,
    #presidency {
        height: 600px;
    }

    .early-container {
        flex-direction: column;
    }

    .custom-hr {
        display: none;
    }

    #left-early,
    #right-early,
    #center-early {
        margin-left: 0;
        margin-bottom: 20px;
    }

    #left-early p,
    #right-early p {
        padding-top: 1em;
    }

    .right-early-heading,
    .left-early-heading {
        margin: 1em;
        padding-bottom: 1em;
    }

    #right-early p {
        text-align: left;
    }

    #right-early h2 {
        text-align: left;
    }

    #presidency h2 {
        padding-bottom: 1em;
    }

    .right-early-heading {
        text-align: left;
    }

    #circle-container {
        width: 300px;
        height: 300px;
    }

    footer {
        font-size: 22px;
    }

    #photos {
        column-count: 3;
    }
}

/* for Medium screens 768px */

@media only screen and (max-width: 768px),
only screen and (max-width: 468px) {

    body {
        overflow-x: hidden;
    }

    header {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 10px 0;
        width: 100%;
        clear: both;
    }

    #logo {
        display: block;
        font-size: 180%;
        text-align: center;
        margin: 10px;
        margin-bottom: 10px;
        margin-right: 0;
    }

    nav {
        width: 100%;
        clear: both;
    }

    #menu {
        display: block;
        justify-content: center;
        font-size: 100%;
        margin: 5px 15px;
        padding-top: 10%;
    }

    #menu li {
        display: inline-block;
        padding: 0;
        line-height: 2.5;
        margin: 0 10px;
        padding-top: 1em;

    }

    #hero-outer,
    #hero-image {
        height: 600px;
        width: 100%;
        padding: 0;
    }

    #cover-text {
        width: 70%;
        bottom: 1em;
        line-height: 32px;
        margin: 1em;
    }

    .custom-hr {
        display: none;
    }

    #right-early h2 {
        text-align: center;
        margin: 1em;
    }

    #center-early {
        text-align: center;
        margin: 1em;
        padding-bottom: 1em;
    }

    #right-early p {
        width: 100%;
        text-align: justify;
        margin: 5% 0;
    }

    .left-early-heading {
        text-align: center;
        margin: 1em;
    }

    #left-early p {
        width: 100%;
        text-align: justify;
        margin: 5% 0;
    }

    #circle-container {
        padding: 1em;
        width: 100%;
        height: 100%;
    }

    #presidency {
        text-align: center;
        background-size: cover;
    }

    #presidency p {
        text-align: justify;
        margin-left: 1em;
        padding-right: 0;
    }

    #photos {
        column-count: 2;
    }

}


/* Large desktop screens (1800px and up) */

@media only screen and (min-width: 1800px) {

    #logo {
        font-size: 350%;
        margin-left: 50px;
    }


    #menu {
        font-size: 150%;
    }


    #hero-outer,
    #hero-image {
        height: 800px;
        width: auto;
    }


    #cover-text {
        width: 100px;
        padding-top: 400px;
        font-size: 120%;
        left: 50px;
    }


    #early,
    #presidency {
        height: 800px;
    }


    #circle-container {
        width: 450px;
        height: 450px;
    }


    footer {
        font-size: 28px;
    }


    #photos {
        column-count: 5;
    }
}