@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400&family=Oswald&display= swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Lato, sans-serif;
    font-weight: 400;
    color: #070707;
}


/* heading and logo */


h2 {
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #252525;
    clear: both;
}

h1 {
    text-shadow: 4px 4px 4px #aaa;
    color: #FF0000;
    font-family: Oswald, sans-serif;
    letter-spacing: 4px;
    text-transform: uppercase;
}

#logo {
    float: left;
    font-size: 280%;
    margin-left: 30px;
}

/* navigation links*/

#menu {
    font-size: 110%;
    letter-spacing: 3px;
}

#menu,
#logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid black;
}

.active {
    border-bottom: 1px solid red;
}

/* hero image */

#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;

}

#cover-text h2 {
    color: black;
}

#cover-text {
    font-family: Oswald, sans-serif;
    font-size: 150%;
    text-transform: uppercase;
    letter-spacing: 4px;
    float: right;
    line-height: 50px;
    color: #252525;
    
    width: 400px;
    height: 80px;

    padding-top: 40px;
    padding-right: 33px;

    bottom: 0 auto;
    right: 80px;

    position: absolute;
    
}


#hero-image {
    height: 600px;
    width: 100%;
    background: url('../images/hero-image.jpg') no-repeat left;
    opacity: 0.8;

    /* animates zoom effects on loading page */
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/* creates the level of zoom for hero image */

@keyframes hero-zoom {
    from {
        transform: scale(1);

    }
    to {
        transform: scale(1.1);
    }
}

/* About */

#about {
    height: 600px;
}

.about-container {
    display: flex;
    justify-content: center; 
    
}

#left-about {
    padding-top: 25px;
    flex: 1;
    margin-left: 38px;
}

#right-about {
    padding-top: 25px;
    flex: 1;
    margin-left: 20px;
}

#center-about {
    padding-top: 20px;
    flex: 1;
    display: flex;
    justify-content: center; 
}

hr {
    border-top: 1px solid black;
    width: 100%;
    margin: 5px 0;
}

.custom-hr {
    border: none;
    height: 2px;
    background-color: #ff0000;
    margin: 10px 0;  
}

.left-about-heading {
    width: 90%;
    line-height: 30px;
    margin-bottom: 20px;
}

.right-about-heading {
    width: 90%;
    line-height: 30px;
    margin-bottom: 20px;
    text-align: right;
}

.right-about-heading p {
    text-align: right;
}

.right-about-heading h2 {
    text-align: right;
}

#introduction {
    text-align: center;
    margin: 20px 0;
    color: #FF0000;
    font-size: 150%;
}

/* about center image */

#circle-container {
    width: 350px;
    height: 350px;
    padding: 20px;
    border: 1px solid #cccccc;
    border-radius: 50%;
    margin: 0 auto;
}
 #circle-cover-bg {
    background: url('../images/2-Star-Square.jpg') no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    border-radius: 50%;
    margin: 0 auto;
    
 }

 /* presidency */

 #presidency {
    height: 600px;
    padding-top: 25px;
    margin-left: 38px;
    display: flex;
 }


 .presidency-heading hr {
    width: 38%;
 }

 #presidency p {
    text-align: justify;
    margin-right: 40px;
    letter-spacing: 1.5px;
    padding-bottom: 20px;
 }

 /* footer */

 footer {
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
    font-size: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
 }

 footer a {
    text-decoration: none;
    color: red;
 }

 footer a:hover {
    text-decoration: underline;
 }


 footer span {
     margin: 0 5px;
 }


