@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400&family=Oswald&display= swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    position: relative;
}

body {
    font-family: Lato, sans-serif;
    font-weight: 400;
    color: #070707;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
}


/* heading and logo */


h2 {
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #252525;

}

h1 {
    text-shadow: 4px 4px 4px #aaa;
    color: #FF0000;
    font-family: Oswald, sans-serif;
    letter-spacing: 4px;
    text-transform: uppercase;
}

#logo {
    float: left;
    font-size: 250%;
    margin-left: 30px;
    height: 80px;
}

/* navigation links*/

#menu {
    font-size: 110%;
    letter-spacing: 3px;
}

#menu,
#logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: green;
}

#menu a:hover {
    border-bottom: 1px solid black;
}

.active {
    border-bottom: 1px solid red;
}

/* hero image */

#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;

}

#cover-text h2 {
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
}

#cover-text {
    font-family: Oswald, sans-serif;
    font-size: 100%;
    text-transform: uppercase;
    letter-spacing: 3px;
    line-height: 40px;
    color: #252525;
    
    width: 500px;
    height: 100px;

    padding-bottom: 50px;
    padding-top: 300px;
    padding-right: 60px;
    padding-left: 30px;
    bottom: 0px;
    left: 100px;

    position: absolute;
}

#cover-text h2:hover {
    color: yellow;
}

#hero-image {
    height: 600px;
    width: 100%;
    background: url('../images/hero-image.jpg') no-repeat center center;
    opacity: 0.8;

    /* animates zoom effects on loading page */
    animation-name: hero-zoom;
    animation-duration: 6s;
    animation-fill-mode: forwards;
}

/* creates the level of zoom for hero image */

@keyframes hero-zoom {
    from {
        transform: scale(1);

    }
    to {
        transform: scale(1.1);
    }
}

/* Early Life */

#early {
    height: 600px;
}

.early-container {
    display: flex;
    justify-content: center; 
    padding: 5%;
    
}

#left-early {
    padding-top: 25px;
    flex: 1;
    margin-left: 38px;
}

#right-early {
    padding-top: 25px;
    flex: 1;
    margin-left: 20px;
}

#center-early {
    padding-top: 20px;
    flex: 1;
    display: flex;
    justify-content: center; 
}

.custom-hr {
    border: none;
    height: 2px;
    background-color: #ff0000;
    margin: 10px 0;  
}

.left-early-heading {
    width: 90%;
    line-height: 30px;
    margin-bottom: 20px;
}

.right-early-heading {
    width: 90%;
    line-height: 30px;
    margin-bottom: 20px;
    text-align: right;
}

#right-early p {
    text-align: right;
}

#right-early h2 {
    text-align: right;
}

/* about center image */

#circle-container {
    width: 350px;
    height: 350px;
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 50%;
    margin: 0 auto;
}
 #circle-cover-bg {
    background: url('../images/Flag_of_Ghana.svg.png') no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    border-radius: 50%;
    margin: 0 auto;
    
 }

 /* presidency */

 #presidency {
    height: 600px;
    flex: 1;
    padding: 5%;
    margin: 0 auto;
    background-color: lightyellow;
    background: cover;
 }


 .presidency-heading hr {
    width: 38%;
 }

 #presidency p {
    text-align: flex;
    margin-right: 40px;
    line-height: 25px;
    padding-bottom: 10px;
 }

 /* footer */

 footer {
    background-color: green;
    padding: 20px;
    text-align: center;
    font-size: 25px;
    width: 100%;
    color: white;
    margin-top: auto;
    bottom: 0%;
 }

 footer a {
    text-decoration: none;
    color: black;
    margin: 0 10px;
 }

 footer span {
     margin: 0 5px;
 }

 footer p {
    margin-top: 10px;
 }

 footer a:hover {
    text-decoration: underline;
    color: yellow;
 }


 /* gallerx */

 #photos {
    line-height: 0;
    column-count: 4;
    column-gap: 10px;
    clear: both;
    background-color: #070707;
 }

 #photos img {
    width: 100%;
    transition: transform 0.5s;
 }

 #photos img:hover {
     transform: scale(1.1);
 }


 /* media queries */

 /* for screen sizes lager than 1200px wide and down */

 @media screen and (max-width: 1200px) {
    #logo {
            font-size: 220%;
            margin-left: 15px;
        }

     #logo,
     #menu {
        margin: 5px;
     }

     #menu {
         font-size: 100%;
         height: 20px;
         flex-direction: column;
     }

     #menu li {
         margin-right: 30px;
         
     }

     #hero-outer,
     #hero-image {
         height: 600px;
         width: 100%;
     }

     #cover-text {
         width: 200px;
         padding-top: 100px;
         padding-left: 20px;
         font-size: 60%;
         left: 10%;
     }

     #early,
     #presidency {
         height: 500px;
     }

     .early-container {
         flex-direction: column;
     }

     .custom-hr {
        display: none;
     }

     #left-early,
     #right-early,
     #center-early {
         margin-left: 0;
         margin-bottom: 20px;
     }

     #left-early p,
     #right-early p,
     #presidency p {
        padding-top: 1em;
     }

     .right-early-heading,
     .left-early-heading 
     .presidency-heading {
        margin: 1em;
        padding-bottom: 1em;
     }

     #circle-container {
         width: 300px;
         height: 300px;
     }

     footer {
         font-size: 22px;
     }

     #photos {
         column-count: 3;
     }
 }


 /* for screens 600px */

 @media only screen and (max-width: 600px){

 #logo {
     font-size: 100%;
     padding-left: 1%;
     height: 1%;
     margin: 5%;
    }

     #menu {
        font-size: 100%;
        height: 10px;
        flex-direction: column;
        margin: 5%;
        }

     h2 {
       letter-spacing: 2px;
     }
    
     #hero-outer,
     #hero-image {
        height: 600px;
     }

     .custom-hr {
        display: none;
     }

    .right-early-heading {
         width: 100%;
         text-align: center;
         margin: 5% 0;
        }

    #right-early p {
        width: 100%;
        text-align: justify;
        padding: 1em;
    
    }

    .left-early-heading {
        text-align: center;
        margin: 1em;
    }

    #left-early p {
        width: 100%;
        text-align: justify;
        margin: 5% 0;
    }

    #circle-container {
        padding: 1em;
        width: 100%;
        height: 100%;
    }
     
    #presidency {
        text-align: center;
        margin: 1em;
        background-size: cover;
    }

    #presidency p {
        text-align: justify;
        padding: 10% 0;
        margin: 0 auto;

    }
}